*{
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 3.5em;
 background-color: #fff;
}
 li{
    display:inline;
    list-style: none;
    gap: 15px;
}
h2{
    padding-top: 10px;
    margin-left: 6em;
    display: inline-block;
}
nav{
    display: inline;
}
li a{
    text-decoration: none;
    list-style: none;
    display: inline-block;
    color: black;
    padding: 15px;
    
   font-weight: bold;
}
.first{
    padding-left : 16em;
}
.last{
    padding-right: 7em;
}
.img1{
    width: 70%;
    height: 50em;
}
.mini1{
   position: absolute;
  right: 28em;
 top:30.5em;
 width: 217.6px;
 height: 326px;
}
.image1{
    background-color: rgb(222, 222, 222);
    width: 100%;
    height: 50em;
}
#user{
    font-size: 40px;
    position: absolute;
    padding-top: 10px;
    padding-left: 5.5em;
}
.phone1{
    position: absolute;
bottom: 1.7em;
    left: 1090px;
    font-size: 70px;
    padding-top: 15px;
}
.phone2{
    position: absolute;
   bottom: 13em;
    left: 1100px;
}
.ph3{
    position: absolute;
    bottom: 11em;
    left: 1100px;
    padding-left: 150px;
    padding-bottom: 30px;
}
.para1{
    position: absolute;
    bottom: 1.5em;
    left: 1100px; 
}
.para2{
    position: absolute;
    bottom: -2em;
    left: 1100px; 
    font-size:small;
}
.fixed{
    background-color: #fff;
    display: fixed;
    bottom: 0;
    width: 100%;
    height: 3em;   
    margin-bottom: 10px;
}
.btn1{
    display: flex;
    font-size: 20px;
    padding-left: 80px;
    padding-right: 80px;
    height: 2.4em;
    border-radius: 20px;
    background-color: rgb(50, 50, 122);
    color: white;
    margin-top: 0.6em;
    margin-left: 58em;
    text-align: center;
}
button{
    padding: 13px;
}
