*{
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}
body{
    background-color:  #f1f5f9;
}
header{
    width: 100%;
    height: 3.8em;
 background-color:#ffffff;
 border:#ffffff solid;
}
 li{
    display:inline;
    list-style: none;
    gap: 15px;
}
h2{
    padding-top: 10px;
    margin-left: 6em;
    display: inline-block;
}
.nav1{
    display: inline;
    width: 100%;
 
}
li a{
    text-decoration: none;
    list-style: none;
    display: inline-block;
    color: black;
    padding: 15px;
    
   font-weight: bold;
}
.first{
    padding-left : 16em;
}
.last{
    padding-right: 7em;
}
.img1{
    width: 70%;
    height: 45em;
}
.mini1{
   position: absolute;
  right: 28em;
 top:28.4em;
 width: 217.6px;
 height: 326px;
}
.image1{
    width: 100%;
    height: 45em;
}
#user{
    font-size: 40px;
    position: absolute;
    padding-top: 10px;
    padding-left: 5.5em;
}
.phone1{
    position: absolute;
bottom: 2.4em;
    left: 1090px;
    font-size: 70px;
    padding-top: 15px;
}
.phone2{
    position: absolute;
   bottom: 18em;
    left: 1100px;
}
.ph3{
    position: absolute;
    bottom: 16em;
    left: 1100px;
    padding-left: 150px;
    padding-bottom: 30px;
}
.para1{
    position: absolute;
    bottom: 1.5em;
    left: 1100px; 
    line-height: 1.3em;
    font-size: 1.2em;
}
.para2{
    position: absolute;
    bottom: -2em;
    left: 1100px; 
    font-size:small;
}
.left{
   position: absolute;
   bottom: 4.6em;
   font-size: 6em;
   left: -1.3em;
   transform: rotate(90deg);
}
.fixed{
    background-color:#ffffff;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 3.55em;   
    border: rgb(249, 249, 249) ;

}
.btn1{
    position: fixed;
    width: 23%;
    height:2.5em;
    display: flex;
    font-size: 20px;
    padding-left: 80px;
    padding-right: 80px;
    border-radius:120px;
    border: rgb(50, 50, 122);
    margin-top: 0.3em;
    margin-bottom: 0.2em;
    margin-left: 58em;
   
}
button{
    padding: 13px;
    text-align: center;
    background-color: rgb(50, 50, 122);
    color: white;
}
.btn1:hover{
    transform: scaleX(1.1);
}
.nav1 a:hover{
    text-decoration: underline;
  
}
.text1{
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 6em;
    padding-right: 20px;
    padding-bottom: 1.2em;
}
.para3{
    width: 100%;
    height:6em;
}
#p1{
    position: absolute;
    padding-left: 2.6em;
    font-size:2em;
    line-height: 1.4em;
}
#p2{
    position: absolute;
    font-size:2em;
    padding-left: 18.1em;
    line-height: 1.4em;
}
#p3{
    position: absolute;
    font-size:2em;
    padding-left: 32.9em;
    line-height: 1.4em;
    padding-bottom: 6em;
}
@media screen and (max-width:400px) {
    header{
        width: 100%;
        height: 4rem;
     background-color:#ffffff;
     border:#ffffff solid;
    }
    h2{
        position: absolute;
        font-size: 1.3rem;
        padding-top: 1em;
       left: -5.3em;
    }
    #user{
        position: absolute;
        right: 1.2em;
       top:0.1rem;
       padding-right: 1.1rem;
    }
    li a{
        display: flex;
       padding-top: 4rem;
       opacity: 0;
       
    }
    .first{
        position:absolute;
       left: 0px;
    }
    .nav1{
      
        position: absolute;
       left: 3px;    
    }
   
    #navbar{
        position: absolute;
        right: 0.8em;
        top: 1.4em;
    }
    .image1{
        width: 100vh;
       height: 85vh;
    }
    .img1{
        position: absolute;
        width: 100vw;
        height: 65vh;
    }
    .left{
        position: absolute;
        font-size: 3rem;
        top: -2.8em;
        left: -7em;

    }
    .fixed{
        background-color:#bbb9b9;
        position: fixed;
        bottom: 0px;
        width: 100%;
        height: 3.55em;   
        border: rgb(8, 7, 7) ;
    }
    .btn1{
        position: fixed;
        width: 23%;
        height:2.5em;
        display: flex;
        font-size: 20px;
        padding-left: 80px;
        padding-right: 80px;
        border-radius:120px;
        border: rgb(50, 50, 122);
        margin-top: 0.3em;
        margin-bottom: 0.2em;
        margin-left: 58em;
       
    }
}